.report-container {
    width: 100%;
    margin-bottom: 20px;
    /* border: 2px solid transparent; */
    /* border: 2px solid var(--color-primary); */
    /* border-radius: 10px; */
    transition: .3s;
}

.report-container:hover {
    background-color: var(--color-primary-light);
}

.report-container__button {
    width: 100%;
    min-height: 70px;
    overflow: hidden;
}

.report-container__button--top {
    display: flex;
}

.report__icon-container {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report__icon-container-inner {
    background-color: var(--color-primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report__icon {
    color: white;
    font-size: 20px;
}

.report__content {
    font-size: 1.6rem;
    min-height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex: 1;
}

.report__content--header {
    color: black;
    text-align: left;
    line-height: 1.5;
}

.report__details {
    width: 140px;
    min-height: 60px;
    transform: translateX(100%);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report__details--text {
    color: var(--color-primary-dark);
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
}

.report__type-box {
    background-color: var(--color-primary);
    color: white;
    padding: 3px 7px;
}

/* Delete Button */
.report-container__delete-button {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.report-container__delete-button--icon {
    color: var(--color-update);
    font-size: 20px;
}

.report-container__delete-button:hover .report-container__delete-button--icon {
    filter: brightness(90%);
}

/* Report Hovered */
.report-container:hover {
    transform: translateX(-10px);
    /* border: 2px solid var(--color-primary); */
}

.report-container:hover .report__details {
    transform: translateX(0);
}


/* Report Content (Hidden) */
.report-container__button--bottom {
    padding-bottom: 20px;
    position: relative;
}

.report-container__content {
    margin-left: 31px;
    margin-right: 150px;
    padding: 0 0 0 50px;
    border-left: 6px solid var(--color-primary);
    border-left: 6px solid rgb(168, 233, 233);
}

.report-container__content--text {
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;

}

.report-container__content--info {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Report Read */
.report-read .report--header {
    font-weight: 300;
}

.report-read .report__icon-container-inner {
    background-color: var(--color-primary-light);
    background-color: transparent;
    background-color: var(--color-primary);
    opacity: .5;
}

.report-read .report__icon {
    color: var(--color-primary-dark);
    color: white;
}

.report-read .report__content--header {
    font-weight: 300;
}

/* Report Hidden */
.report-hidden .report-container__button--bottom {
    display: none;
}



/* UNIQUE BOX COLOURS */
/* Warning */
.report--warning .report__icon-container-inner {
    background-color: var(--color-warning);
}

.report--warning:hover {
    background-color: var(--color-warning-light);
    /* border: 2px solid var(--color-warning); */
}

.report--warning .report-container__content {
    border-left: 6px solid rgb(255, 176, 176);
}

.report--warning .report-container__content--info,
.report--warning .report-container__delete-button--icon {
    color: var(--color-warning);
}

.report--warning .report__type-box {
    background-color: var(--color-warning);
}

.report--warning .report__details--text {
    color: var(--color-warning);
}

/* Status Change */
.report--status-change .report__icon-container-inner {
    background-color: var(--color-status-change);
}

.report--status-change:hover {
    background-color: var(--color-status-change-light);
    /* border: 2px solid var(--color-status-change); */
}

.report--status-change .report-container__content {
    border-left: 6px solid rgb(251, 228, 184);
}

.report--status-change .report-container__content--info,
.report--status-change .report-container__delete-button--icon {
    color: var(--color-status-change);
}

.report--status-change .report__type-box {
    background-color: var(--color-status-change);
}

.report--status-change .report__details--text {
    color: var(--color-status-change);
}


/* Complete */
.report--complete .report__icon-container-inner {
    background-color: var(--color-complete);
}

.report--complete:hover {
    background-color: var(--color-complete-light);
    /* border: 2px solid var(--color-complete); */
}

.report--complete .report-container__content {
    border-left: 6px solid rgb(186, 234, 186);
}

.report--complete .report-container__content--info,
.report--complete .report-container__delete-button--icon {
    color: var(--color-complete);
}

.report--complete .report__type-box {
    background-color: var(--color-complete);
}

.report--complete .report__details--text {
    color: var(--color-complete);
}


/* User Update */
.report--user-update .report__icon-container-inner {
    background-color: var(--color-user-update);
}

.report--user-update:hover {
    background-color: var(--color-user-update-light);
    /* border: 2px solid var(--color-user-update); */
}

.report--user-update .report-container__content {
    border-left: 6px solid rgb(209, 197, 240);
}

.report--user-update .report-container__content--info,
.report--user-update .report-container__delete-button--icon {
    color: var(--color-user-update);
}

.report--user-update .report__type-box {
    background-color: var(--color-user-update);
}

.report--user-update .report__details--text {
    color: var(--color-user-update);
}

/* Update */
.report--update .report__icon-container-inner {
    background-color: var(--color-update);
}

.report--update:hover {
    background-color: var(--color-update-light);
    /* border: 2px solid var(--color-update); */
}

.report--update .report-container__content {
    border-left: 6px solid rgb(161, 228, 228);
}

.report--update .report-container__content--info,
.report--update .report-container__delete-button--icon {
    color: var(--color-update);
}

.report--update .report__type-box {
    background-color: var(--color-update);
}

.report--update .report__details--text {
    color: var(--color-update);
}