.reports {
    width: 100%;
    min-height: calc(100vh - 380px);
    padding: 0 50px 50px 50px;
}

.reports .notification-container {
    margin-top: 30px;
}

.reports__display {
    display: flex;
    flex-direction: column-reverse;
}

.reports .empty-message-container {
    margin-top: 50px;
}