.messages {
    width: 100%;
    min-height: calc(100vh - 380px);
    padding: 0 50px 50px 50px;
}

.messages .notification-container {
    margin-top: 30px;
}

.messages .empty-message-container {
    margin-top: 50px;
}