/* Variables */
:root {
    /* Fonts */
    --font-primary: 'Nunito', sans-serif;
    /* Colours */
    --color-dropdown-hover: rgb(245, 245, 245);
    --color-light: #f9f9f9;
    --color-dark: #333333;
    --color-gray: #eeeeee;
    --color-gray-dark: #cecece;
    --color-gray-darkest: #808080;
    --color-primary: rgb(50, 200, 200);
    --color-primary-dark: rgb(38, 180, 180);
    --color-primary-light: rgb(233, 255, 255);
    --color-orange: rgb(255, 237, 203);
    --color-yellow: rgb(246, 209, 108);
    --color-yellow-light: rgb(255, 248, 227);
    --color-green-dark: rgb(80, 154, 80);
    --color-green: rgb(118, 240, 118);
    --color-green-light: rgb(230, 255, 230);

    /* --color-primary-dark: rgb(183, 15, 15);
    --color-primary: red;
    --color-primary-light: rgb(255, 236, 239); */

    --color-warning: rgb(248, 92, 92);
    --color-warning-light: rgb(255, 229, 229);
    --color-status-change: rgb(246, 191, 90);
    --color-status-change-light: rgb(255, 244, 223);
    --color-complete: rgb(117, 191, 117);
    --color-complete-light: rgb(222, 255, 222);
    --color-user-update: rgb(141, 98, 250);
    --color-user-update-light: rgb(242, 237, 255);
    --color-update: rgb(50, 200, 200);
    --color-update-light: rgb(233, 255, 255);
}


/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: var(--font-primary);
}



/* Inputs */
input {
    border: none;
    font-family: var(--font-primary);
}

input,
::placeholder {
    font-family: var(--font-primary);
}

/* Buttons */
button {
    font-family: var(--font-primary);
    cursor: pointer;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

/* Links */
.link-transparent {
    color: inherit;
    text-decoration: none;
}

/* Colours */
.color--primary {
    color: rgb(50, 200, 200);
}

.color--yellow {
    color: rgb(246, 191, 90);
}

.color--green {
    color: rgb(117, 191, 117);
}