.main-content__header {
    /* background-color: red; */
    height: 100px;
    padding: 50px 50px 0 50px;
    display: flex;
    align-items: center;
}

.main-content__header--icon-container {
    background-color: var(--color-primary);
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__header--icon {
    color: white;
    font-size: 28px;
}

.main-content__header--header {
    font-size: 4rem;
    font-weight: 700;
}